<div class="container">
    <h2>Contactanos</h2>
    <div class="article">
        <h4><b>Oficinas ONG ZEBRA</b></h4>
        <div class="oficina-grid-container">
            <div class="contacto">
                <h3><strong>ONG ZEBRA</strong></h3>
                <h3>George St. 344</h3>
                <p>Correo: soporte@ongzebra.cl</p>
                <p>Celular: +56 9 2333 2700</p>

            </div>
            <div class="contacto" style="border:0px">
                <img src="assets/Screenshot_1.png" width="100%" height="100%" alt="">
            </div>
        </div>
    </div>
    <form>
        <div class="article">

            <fieldset>
                <legend>TU INFORMACIÓN</legend>
                <table>
                    <tr>
                        <td>Nombre completo:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Correo electronico:</td>
                        <td><input type="email"></td>
                    </tr>
                    <tr>
                        <td>telefono: </td>
                        <td><input type="tel"></td>
                    </tr>
                </table>
            </fieldset>

        </div>

        <div class="article">

            <fieldset>
                <legend>TU MENSAJE</legend>
                <table>
                    <tr>
                        <td>Asunto:</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Mensaje:</td>
                        <td><textarea></textarea></td>
                    </tr>
                </table>
            </fieldset>
            <button>Enviar</button>
        </div>

    </form>
</div>