.oficina-grid-container {
    display: grid;
    grid-template-columns: 15rem 15rem;
    grid-template-rows: 200px;
    grid-gap: 10px;
}

fieldset {
    width: 50%;
    height: auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

table tr td {
    padding: 3px;
    text-align: right;
}

table {
    padding-left: 50px;
}

textarea {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100px;
}

.article button {
    margin-top: 10px;
    border: 1px solid black;
}