<div class="container">
    <div class="servicios-header">
        <h1>Servicios</h1>
    </div>
    <div class="servicio-grid-container">

        <div class="contacto">

            <h3><strong>Donaciones</strong></h3>

            <p>Aporta tu granito de arena para facilitar nuestro arduo servicio ayudando y protegiendo la fauna chilena, tu granito de arena puede lograr hacer la diferencia para nuestro equipo. ¡Ayudanos!</p>

            <button mat-raised-button>CLICK AQUÍ</button>

        </div>

        <div class="contacto">

            <h3><strong>Alertanos</strong></h3>

            <p>¿Has visto, escuchado o sido complice de un acto que atenta y amenaza la fauna y flora de nuestro país? Contactanos inmediatamente y haznos saber para tomar acciones inmediatas con nuestro equipo Zebra mediante operativos de investigación</p>


            <a href="/contacto"><button mat-raised-button>CLICK AQUÍ</button></a>
        </div>

        <div class="contacto">

            <h3><strong>Únete</strong></h3>

            <p>Únete al equipo Zebra mediante un compromiso firmado para ser parte de la gran labor de ONG Zebra, ORCA y su equipo para resguardar la fauna y flora de nuestro país, ponte en contacto con nosotros inmediatamente</p>

            <a href="/contacto"><button mat-raised-button>CLICK AQUÍ</button></a>

        </div>

    </div>



</div>