<div class="container">

    <div class="article">
        <h4><b>Desarrolladores WEB</b></h4>

        <div class="dev-grid-container">

            <div class="contacto">
                <h3><strong>Fullstack Web Developer</strong></h3>
                <h3>Matias Arratibel</h3>
                <p>Correo: matias.arratibel@gmail.com</p>
                <p>Celular: +56 9 8812 8667</p>

            </div>
            <div class="contacto" style="border:0">
                <p>Matias Arratibel desarrollador con más de 4 años de experiencia autonoma, actualmente estudiando Ingeniería informática en el Insituto Profesional de Chile, autor de la actual pagína de la <i>Organizacion no Gubernamental Zebra </i>, cuenta
                    con varios proyectos pequeños que se pueden encontrar en su <a href="https://www.github.com/kioys" targer="_blank">página de GitHub</a>
                </p>
            </div>


            <div class="contacto">
                <h3><strong>Fullstack Web Developer</strong></h3>
                <h3>Marco Parada</h3>
                <p>Correo: marco.parada@gmail.com</p>
                <p>Celular: +56 9 7313 8670</p>
            </div>
            <div class="contacto" style="border:0">
                Marco Parada es un desarrollador web fullstack, cuenta con experiencia autonoma, actualmente estudiando Ingeniería informática en el Instituto Profesional de Chile, autor de la actual pagína de la <i>Organizacion no Gubernamental Zebra </i>,
                cuenta con un actual cargo como Web Master en <a href="https://www.friodell.com">Friodell</a>, ha sido Analista de software en Escuela de Conductores Kilómetro Cero.
            </div>
        </div>
    </div>
</div>