* {
    padding: 0;
    margin: 0;
}

.sidenav * {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sidenav .logo {
    text-align: center;
}

.sidenav-container #bar {
    background: linear-gradient(135deg, rgba(133, 193, 245, 1) 0%, rgba(32, 124, 229, 1) 56%, rgba(32, 124, 229, 1) 100%);
    height: 106px;
    width: 100%;
    background-color: lightsteelblue;
    position: fixed;
}

.sidenav-container #sub-bar {
    height: 105px;
    width: 100%;
    opacity: 0%;
    z-index: -10;
}

.sidenav-container #bar .button {
    padding: 2px;
    margin-top: 40px;
    margin-left: 40px;
    position: absolute;
}

.sidenav-container .alert {
    padding: 4px;
    margin-top: 40px;
    margin-left: 40px;
    position: absolute;
    border: 2px solid black;
    border-radius: 15%;
    background-color: salmon;
}

.sidenav-container .search input {
    padding: 2px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer .footer-menu .cr {
    color: gray;
}

footer li {
    color: deepskyblue;
    display: block;
    float: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.sidenav-container #bar .search {
    margin-top: 40px;
    margin-left: 750px;
    position: static;
}

.sidenav-container #bar .search button {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
    padding: 2px;
}

.sidenav-container .separator {
    height: 10px;
    width: 100%;
    background-color: black;
}

.sidenav .mat-list-item {
    animation: in ease 0.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    background: linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 50%, rgba(181, 198, 208, 1) 51%, rgba(224, 239, 249, 1) 100%);
    border: 1px solid black;
    border-bottom: black;
    width: auto;
}

.sidenav .mat-list-item:hover {
    animation: out ease 0.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode: forwards;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    border: 0;
    width: 250px;
    background: linear-gradient(135deg, rgba(156, 207, 255, 1) 0%, rgba(32, 124, 229, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9ccfff', endColorstr='#207ce5', GradientType=1);
}

.sidenav .sidenav-article {
    width: auto;
    border-bottom: black;
    padding-top: 5px;
    border: 1px solid darkgray;
    margin: 0.4px;
    background-color: gainsboro;
}

.sidenav .sidenav-article p {
    padding: 10px;
}

.sidenav .sidenav-article h3 {
    text-align: center;
    color: white;
    background-color: midnightblue;
}

@keyframes out {
    0% {
        transform: scaleX(1.00) scaleY(1.00);
    }
    100% {
        transform: scaleX(1.10) scaleY(1.10);
    }
}

@keyframes in {
    0% {
        transform: scaleX(1.10) scaleY(1.10);
    }
    100% {
        transform: scaleX(1.00) scaleY(1.00);
    }
}