<div class="container">

    <div class="noti-grid-container">

        <a href="https://orcachile.org/voluntarios-rescatan-tiuque-que-el-sag-abandono/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/Noti1.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Voluntarios de ORCA Chile van en busca de tiuque que el SAG abandono a su suerte</strong></h3>
                    <h5>por EQUIPO ORCA on 31/08/2017</h5>
                    <p>A través de su director ejecutivo la organización no gubernamental no escatimó criticas al desempeño del Servicio Agricola y Ganadero... Leer más</p>
                </div>
            </div>
        </a>

        <a href="https://orcachile.org/voluntarios-rescatan-tiuque-que-el-sag-abandono/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/noti2.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Senadores se alinean con el circo y rechazan indicación que buscaba proteger a los animales</strong></h3>
                    <h5>por EQUIPO ORCA on 10/08/2017</h5>
                    <p>En el marco del despacho del proyecto de ley que crea el Ministerio de las Culturas, las Artes y el Patrimonio, hubo una... Leer más</p>
                </div>
            </div>
        </a>

        <a href="https://orcachile.org/movistar-intenta-destruir-la-reserva-jeinimeni-instalar-una-antena/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/noti3.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Movistar intenta destruir parte de la Reserva Nacional Jeinimeni para instalar una antena</strong></h3>
                    <h5>por EQUIPO ORCA on 25/07/2017</h5>
                    <p>Los trabajos que aun no comienzan, ya enfrentan una feroz resistencia tanto de CONAF como de organizaciones defensoras del... Leer más</p>
                </div>
            </div>
        </a>

        <a href="https://orcachile.org/cazadores-furtivos-presumen-caza-coipo/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/noti4.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Asqueroso: Cazadores furtivos presumen de caza de un coipo chileno en Facebook</strong></h3>
                    <h5>por EQUIPO ORCA on 16/07/2017</h5>
                    <p> La ONG ORCA Chile denunció a dos presuntos cazadores furtivos a raíz de la aparición de unas fotografías en la... Leer más</p>
                </div>
            </div>
        </a>
        <a href="https://orcachile.org/ofrecen-recompensa-por-crimen-de-zorro/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/noti5.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Senadores se alinean con el circo y rechazan indicación que buscaba proteger a los animales</strong></h3>
                    <h5>por EQUIPO ORCA on 18/03/2017</h5>
                    <p>La Organización de Rescate y Conservación Ambiental, solicita ayuda a quienes puedan tener información sobre el autor de este autor... Leer más</p>
                </div>
            </div>
        </a>

        <a href="https://orcachile.org/organizacion-orca-chile-inicia-campana-los-afectados-los-incendios-forestales/" target="_blank">
            <div class="noticia">
                <div class="img">
                    <img src="assets/noti6.png" height="150px" width="150px">
                </div>
                <div class="texto">
                    <h3><strong>Organización ORCA Chile inicia campaña para los afectados por los incendios forestales.</strong></h3>
                    <h5>por EQUIPO ORCA on 27/01/2017</h5>
                    <p>La organización de Rescate y Conservación Ambiental, ORCA Chile, se encuentra trabajando con todos sus.... Leer más</p>
                </div>
            </div>
        </a>

    </div>

</div>