<div class="container">
    <div class="article">
        <h1>Organización no gubernamental - ZEBRA</h1>
        <h2><strong>¿Quienes somos y cual es nuestro proposito?</strong></h2>
        <strong>por EQUIPO ZEBRA on 13/10/2020</strong><br><br>
        <p>
            ONG Zebra se encarga de informar y culturizar al receptor de la caza ilegal, injusticias a la fauna, cubriendo igualmente la protección de la fauna y flora, para eso tenemos al gran equipo Zebra que es el encargado de organizar y poner en marcha distintos
            operativos que dan a lugar a los puntos antes recalcados.<img src="assets/vicuna.jpg" width="500px" height="300px"> Hemos trabajado reiteradamente con grandes equipos que llevan como insignia intereses comúnes. El gran equipo
            <a href="https://www.orcachile.org" target="_blank" alt="anal" title="Alpinos en anal">ORCA Chile</a> ha sido nuestra mano derecha acompañandonos en distintas series de operativos</p>

        <p>
            La Organización no Gubernamental Zebra (ONG Zebra) opera sin ningún tipo de prejuicio hacia raza, color, nacionalidad, creencia religiosa o cualquier otra consideración distinta que no sea la ley vigente que protege las especies en peligro y sus ecosistemas.
            Por tanto nuestros objetivos están siempre pensados y planificados en el interés de las especies y los hábitats que protegemos y en ningún caso en alguna motivación personal hacia un grupo determinado de personas. Como organización esperamos
            que nuestro personal, socios y voluntarios desalienten la discriminación, el acoso y la victimización, dejando en claro que consideran tal comportamiento como inaceptable, y apoyaran de forma inmediata a toda persona que sea tratada de esa
            manera. Cualquier persona que tenga conocimiento de un incidente de discriminación, acoso o victimización, tiene por obligación alertar a su jefe directo o líder de equipo para permitir que la organización atienda el problema lo antes posible,
            considerando esta falta como causal de expulsión de comprobarse los hechos
        </p>
    </div>
</div>