<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>ONG Zebra - Home</title>
</head>
<body>
<div class="cabecera">
		<button class="btncabecera">llame al 0123 0123 0123</button>
		<input type="text" class="txtcabecera">
	</div>
<img src="assets/zebrabanner.jpg" height="300" width="100%">
<hr>
<h1>Organizaciones de conservación en alerta</h1>
<strong class="titulo">Masivo aumento de caza ilegal amenaza a vicuña.</strong><br><br>
	<strong>por EQUIPO ZEBRA on 13/10/2020</strong>
<p>Corsino Huallata Ibarra ayudaba a sus padres a reunir sus llamas en el campo boliviano cuando lo asustó el sonido de unos disparos. Miró hacia el horizonte y varios movimientos a la distancia llamaron su atención. Podía distinguir varias vicuñas, animales muy similares a la alpaca pero que a diferencia de estas poseen una de las lanas más caras del mundo, que al parecer huían. <br><br>
	Pese al peligro, Ibarra se subió a su moto luego de escuchar los disparos y se dirigió al lugar donde él había visto a las vicuñas alarmadas. Mientras se acercaba, vio a dos hombres arrodillados al lado de un animal mientras le quitaban su piel cubierta en sangre. Los cazadores al ver Ibarra, abandonaron su labor y escaparon en sus motos. Ibarra los persiguió y logró acercarse, pero uno de los cazadores se detuvo y brincó hacia la carretera. El otro apuntó hacia Ibarra con su arma. <br><br><img src="assets/vicuna.jpg" alt="Las vicuñas se juntan en un rebaño y son capturadas en la comunidad de Villazón. Foto de Daniel Maydana" class="center"> <br><br> 	
	 “Tuve que tirar al suelo mi moto y correr en zigzag para evitar ser cazado por esos furtivos, estoy seguro de que si me enfrentaba e ellos, me hubieran disparado”, explica.

La caza furtiva de vicuñas ha aumentado recientemente,  esto es un hecho conocido entre los ecologistas que trabajan en los hábitats de esta especie en Bolivia, Chile, Argentina y Perú. La caza furtiva crece para abastecer la demanda de la industria de la moda.
	</p>
	<hr>
	<div align ="center">
	<a routerLink="home" routerLinkActive="active">Home</a>&nbsp;&nbsp;&nbsp;
	<a routerLink="contacto" routerLinkActive="active">Contacto</a>&nbsp;&nbsp;&nbsp;
	<a routerLink="partners" routerLinkActive="active">Partners</a>&nbsp;&nbsp;&nbsp;
	<a routerLink="portafolio" routerLinkActive="active">Portafolio</a>&nbsp;&nbsp;&nbsp;
	<a routerLink="servicio" routerLinkActive="active">Servicio</a>&nbsp;&nbsp;&nbsp;
	</div>
		
</body>
</html>